<div class="container mt-4 mb-3 p-3 d-flex justify-content-center"> 
 <div class="card p-5"> 
  <div class=" image d-flex flex-column justify-content-center align-items-center"> 
     <button class="btn btn-secondary"> 
      <%= image_tag customer.get_profile_image,class: "rounded-circle", size:'100x100' %>
     </button>
     <span class="name mt-3"><%= customer.name %></span>
     <span class="idd"><%= customer.id %></span>
     <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
      <span class="number">
       <%= link_to customer.followings.count,customer_followings_path(customer) %>
      <span class="follow">Follows</span>
      </span>
     </div> 
      <div class="d-flex flex-row justify-content-center align-items-center mt-3"> 
      <span class="number">
        <%= link_to customer.followers.count,customer_followers_path(customer) %>
      <span class="follow">Followers</span>
      </span>
      </div> 
      <div class=" d-flex mt-2">
        <button class="btn1">
        <% if customer.name != "guestuser" %>
          <%= link_to "Edit Profile", edit_customer_path(customer), class: "btn btn-outline-dark"%>
        <% end %>
        </button>
      </div>
      <div class="text mt-3">
        <span><%= customer.introduction %></span> 
      </div>
      <div class="mt-2">
       <%= link_to "Like List",like_path, class: "btn btn-outline-dark" %>　
      </div>
     <div class=" px-2 rounded mt-4 date ">
      <div id="follow_<%= customer.id %>">
        <% if customer != current_customer %>
           <% if current_customer.following?(customer) %>
            <%= link_to "unFollow", customer_relationships_path(customer.id), method: :delete,  class: 'btn btn-success' %>
           <% else %>
            <%= link_to "Follow", customer_relationships_path(customer.id), method: :post,  class: 'btn btn-success' %>
           <% end %>
        <% end %> 
       </div>
     </div>
   </div> 
  </div>
</div>

<style>
  * {
    margin: 0;
    padding: 0
}

body1 {
    background-color: #000
}

.card {
    width: 350px;
    background-color: #efefef;
    border: none;
    cursor: pointer;
    transition: all 0.5s;
}

.image img2 {
    transition: all 0.5s
}

.card:hover .image img {
    transform: scale(1.5)
}


.name {
    font-size: 22px;
    font-weight: bold
}

.idd {
    font-size: 14px;
    font-weight: 600
}

.idd1 {
    font-size: 12px
}

.number {
    font-size: 22px;
    font-weight: bold
}

.follow {
    font-size: 12px;
    font-weight: 500;
    color: #444444
}

.btn1 {
    height: 40px;
    width: 150px;
    border: none;
    background-color:;
    color: #aeaeae;
    font-size: 15px
}

.text span {
    font-size: 13px;
    color: #545454;
    font-weight: 500
}

.icons i {
    font-size: 19px
}

hr .new1 {
    border: 1px solid
}

.join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

.date {
    background-color: #ccc
}
</style>
