<table class='table'>
  <tr><%= image_tag customer.get_profile_image, size:'100x100' %></tr>
  <tr>
	  <th>name</th>
	  <th><%= customer.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= customer.introduction %></th>
  </tr>
  <tr>
    <th>follows</th>
    <th>
      <%= link_to customer.followings.count,customer_followings_path(customer) %>　
    </th>
  </tr>
  <tr>
    <th>followers</th>
    <th>
      <%= link_to customer.followers.count,customer_followers_path(customer) %>
    </th>
  </tr>
</table>
<% if customer.name != "guestuser" %>
  <div class='row'>
    <%= link_to edit_customer_path(customer), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  </div>
<% end %>
<div class='row'>
  <div id="follow_<%= customer.id %>">
    <% if customer != current_customer %>
     <%= render "public/relationships/btn" ,customer: customer %>
    <% end %> 
  </div>
</div>
<div class='row'>
  <!--<#% if current_customer != customer %>-->
  <!--  <#%= link_to 'Begin Chat', chat_path(customer.id) %>-->
  <!--<#% end %> -->
</div>