<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>My page</h2>
      <%= render 'info', customer: @customer %>
      <h2 class="mt-3">New posts</h2>
     <div>><%= link_to " 投稿しに行く", new_item_path, class: 'text-dark align-middle' %></div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= link_to(item.customer) do %>
                <%= image_tag item.customer.get_profile_image, size:'50x50' %>
                <% end %>
              </td>
              <td><%= link_to item.name,item %></td>
              <td><%= item.body %></td>
              <!--部分テンプレートにした箇所(部分的に更新したい箇所)-->
                 <td id="favorite_buttons_<%= item.id %>">
                   <%= render "public/favorites/favorites", item: item %>
                  </td>
                  <p>コメント件数：<%= item.post_comments.count %></p>
                 
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>