<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'info', customer: @customer %>
     <div>
       <%= link_to "New Post", new_item_path, class: "btn btn-success btn-lg " %>
     </div>
    </div>
    <div class='col-md-8 offset-md-1'>
      <h2>投稿一覧</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td>
                <a href="" id="a_image" target="_blank">
                <%= image_tag item.image, size:"100x100", id:"image" %><br>
                </a>
              </td>
              <td><%= link_to item.name,item %></td>
              <td><%= item.body %></td>
              <!--部分テンプレートにした箇所(部分的に更新したい箇所)-->
                 <td id="favorite_buttons_<%= item.id %>">
                   <%= render "public/favorites/favorites", item: item %>
                  </td>
                  <td>コメント件数：<%= item.post_comments.count %></td>
                 
              </td>
            </tr>
          <% end %>
      </tbody>
      </table>
    </div>
  </div>
</div>
<div class="mt-4 d-flex justify-content-center">
     <%= paginate @items %>
</div>
<script>
const image = document.getElementById("image")
document.getElementById("a_image").href = image.src
</script>