<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'customers/info', user: @post.customer %>
      
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@post.customer) do %>
            <%= image_tag @post.customer.get_profile_image, size:"100x100" %><br>
            <%= @post.customer.name %>
            <% end %>
          </td>
          <td><%= link_to @post.name, @post %></td>
          <td><%= @post.body %></td>
          <% if @post.customer == current_customer %>
            <td><%= link_to 'Edit', edit_post_path(@post), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @post, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <div class='col-md-8 offset-md-1'>
         <table class='table'>
             <thead>
              <tr>
                <th>コメント</th>
              </tr>
              </thead>
              <tbody id="comments_area">
               <%= render 'post_comments/post_comments',post_comments: @post_comments %>
      		    </tbody>
      		</table>
      		<div class="new-comment">
        		<%= render 'post_comments/form', post: @post, post_comment: @post_comment %>
        		
        		
          
          
            
          </div>
          <div class ="comment">
            <%= render 'book_comments/comment', book: @book  %>
          </div>
        　
      </div>
    </div>
  </div>
</div>