<div class='container'>
  <div class='row'>
    <div class='col-md-4'>
      <h2>このエリアから探す</h2>
      <h4><%= @area %></h4>
      <h5><%= link_to "地図を見る", maps_path(area: @area) %></h5>
    </div
    <div class='col-md-8 offset-md-1'>
    <h2>検索結果<span class="small">(全 <%= @items.count %> 件)</span></h2>
    <div class="row p-auto">
      <% @items.each do |item| %>
        <%= link_to item_path(item.id) do %>
          <div class=" mx-5">
            <% if item.image.present? %>
              <%= image_tag item.image, size: '150x100' %>
            <% end %>
            <p class="text-dark"><%=item.name %></p>
            <p class="text-dark"><%= item.body %></p>
            <p>いいね数：<%= item.favorites.count %></p>
            <p>コメント件数：<%= item.post_comments.count %></p>
          </div>
        <% end %>
      <% end %>
    </div>
     <div class="mt-4 d-flex justify-content-center">
       <%= paginate @items %>
     </div>
  </div>
</div>