<div class="container">
  <div class="">
    <div class="text-center py-5 px-3 col-md-6 mx-auto rounded">
　　　  <h4><strong>エリア検索</strong></h4>
        <%= form_with url: maps_path, method: :get, local: true do |f| %>
          <div class="main-search-input-wrap">
            <div class="main-search-input fl-wrap">
               <div class="main-search-input-item">
                  <%= f.text_field :content,autofocus: true, autocomplete: "エリア検索" %>
                  <%= f.hidden_field :method, value: "area" %>
                </div>
                <%= f.submit '検索',  class: "main-search-button" %>
            </div>
          </div>
        <% end %>
    </div>
    <div class="text-center py-5 px-3 col-md-6 mt-5 mx-auto rounded">
        <h4><strong>キーワード検索</strong></h4>
       <%= form_with url: search_path, method: :get, local: true do |f| %>
          <div class="main-search-input-wrap">
      
            <div class="main-search-input fl-wrap">
               <div class="main-search-input-item">
                  <%= f.text_field :content %>
                  <%= f.hidden_field :method, value: "key_word" %>
                </div>
                <%= f.submit '検索',  class: "main-search-button" %>
            </div>
          </div>
       <% end %>
    </div>
  </div>
</div>


<style>

.main-search-input {
    background: #fff;
    padding: 0 120px 0 0;
    border-radius: 1px;
    margin-top: 10px;
    box-shadow: 0px 0px 0px 6px rgba(255,255,255,0.3);
}

.fl-wrap {
    float: left;
    width: 100%;
    position: relative;
}

.main-search-input:before {
    content: '';
    position: absolute;
    bottom: -40px;
    width: 50px;
    height: 1px;
    background: rgba(255,255,255,0.41);
    left: 50%;
    margin-left: -25px;
}

.main-search-input-item {
    float: left;
    width: 100%;
    border-right: 1px solid #eee;
    height: 50px;
    position: relative;
}

.main-search-input-item input:first-child {
    border-radius: 100%;
}

.main-search-input-item input {
    float: left;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
}

.main-search-button{

      background: #4DB7FE;
}

.main-search-button {
    position: absolute;
    right: 0px;
    height: 50px;
    width: 120px;
    color: #fff;
    top: 0;
    border: none;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    cursor: pointer;
}

.main-search-input-wrap {
    max-width: 500px;
    margin: 20px auto;
    position: relative;
}

:focus {
    outline: 0;
}


@media only screen and (max-width: 768px){
.main-search-input {
    background: rgba(255,255,255,0.2);
    padding: 14px 20px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 0px 10px rgba(255,255,255,0.0);
}

.main-search-input-item {
    width: 100%;
    border: 1px solid #eee;
    height: 50px;
    border: none;
    margin-bottom: 10px;
}

.main-search-input-item input {
    border-radius: 6px !important;
    background: #fff;
}

.main-search-button {
    position: relative;
    float: left;
    width: 100%;
    border-radius: 6px;
}

</style>
<!--<script>-->
<!--   $(function() {-->
<!--    const dataList = function(request, response) {-->
<!--      $.ajax({-->
<!--        url: '/public/items/autocomplete_name/' + request.term,-->
<!--        dataType: 'json',-->
<!--        type: 'GET',-->
<!--        cache: true,-->
<!--        success: function(data) {-->
<!--          response(data);-->
<!--        },-->
<!--        error: function(XMLHttpRequest, textStatus, errorThrown) {-->
<!--          response(['']);-->
<!--        }-->
<!--      });-->
<!--    }-->

    
<!--    $('#item_name').autocomplete({-->
<!--      source: dataList,-->
      
<!--    })-->
<!--  });-->
<!--</script>-->


