<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>

<div class ="container">
  <div class="row">
    <div class="col-sm-12">
      <div class="d-flx justify-content-center">
        <div class="" style="position: relative; margin: 0 auto">
          <div class="card-img img-fluid background-top">
          </div>
          <div class="card-img-overlay">
            <p class="h5 font-weight-light text-light pt-5">
              <p class=>素敵な出会いが見つかる</p>
              <p>一点モノに出会う確率が高くなる</p>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="mb-2">
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h5><strong>NEW POST</strong></h5>
      <div class="items">  
        <% @item.first(12).each do |item| %>
        <div class="card">
          <%= link_to item_path(item.id) do %>
            <div class="media media-2x1 gd-primary">
              <%= image_tag item.image, class: "profile-image"%>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= item.name %></h5>
              <p class="card-text"><%= item.body %></p>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>




<style>
   body {
     background-color:#4A148C
 }

.background-top {
  background-image: url(<%=asset_path('home.png')%>);
  background-size: cover;
  background-position: center;
  height: 20rem;
}

 @media (max-width:991.98px) {
     .padding {
         padding: 1.5rem
     }
 }

 @media (max-width:767.98px) {
     .padding {
         padding: 1rem
     }
 }

 .padding {
     padding: 5rem
 }

 .card {
    position: relative;
    display: flex;
    width: 600px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #d2d2dc;
    border-radius: 11px;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
    -moz-box-shadow: 0px 0px 5px 0px rgba(212,182,212,1);
    box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

 .card .card-body {
        padding: 1rem 1rem;
 }

 .card-body {
     flex: 1 1 auto;
     padding: 1.25rem
 }

 p {
     font-size: 0.875rem;
     margin-bottom: .5rem;
     line-height: 1.5rem
 }

 h4{
         line-height: .2 !important;
 }


.items {
    width: 90%;
    margin: 0px auto;
}

.slick-slide {
    margin: 10px
}


.media iframe,
.media-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: 0;
    border-radius: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: rgba(120, 120, 120, .1);
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

.media-content:before {
    content: '';
    position: absolute;
    height: 10%;
    width: 90%;
    left: 5%;
    bottom: 0;
    background: inherit;
    background-position-y: 100%;
    filter: blur(10px)
}

.circle .media-content:before {
    width: 40%;
    left: 30%
}


.profile-image{
    width: 100%;
    height: 200px;
    border-top-left-radius: 11px !important;
    border-top-right-radius: 11px;
}

.card-title{
    font-size: 19px;
    font-weight: 200;
}

.test {
  width: 320px;
}
</style>
<!--#JavaScriptの記述-->
<script>
$(document).ready(function(){
    
 $('.items').slick({
  dots: true,
  infinite: true,
  speed: 800,
  autoplay: true,
  autoplaySpeed: 2000,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
  
  {
   breakpoint: 1024,
    settings: {
     slidesToShow: 3,
     slidesToScroll: 3,
     infinite: true,
     dots: true
    }
  },
  {
    breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
  },
  {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
  }

  ]
 });
});
</script>



