<h2>投稿一覧<span class="small">(全 <%= @items.count %> 件)</span></h2>
  </div>
    <div class="row p-auto">
      <% @items.each do |item| %>
        <%= link_to admin_item_path(item.id) do %>
          <div class=" mx-5">
            <% if item.image.present? %>
              <%= image_tag item.image, size: '150x100' %>
            <% end %>
            <p class="text-dark"><%=item.name %></p>
            <p class="text-dark"><%= item.body %></p>
            <p>いいね数：<%= item.favorites.count %></p>
            <p>コメント件数：<%= item.post_comments.count %></p>
          </div>
        <% end %>
      <% end %>
   </div>