<div class="container">
  <div class="row">
    <div class="text-center py-5 px-3 col-md-4 mx-auto rounded">
      <div>
       <%= form_with model: @customer, url: customer_session_path do |f| %>
        <div class="text-center mb-4">
          <!--<img class="mb-4" src="/assets/logo.png" alt="" width="130" height="80">-->
          <%= image_tag asset_path("logo.png"), size: "130x80" %>
          <h1 class="h3 mt-4 mb-3 font-weight-normal"><strong>Log In</strong></h1>
        </div>
        <div class="form-label-group">
          <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email" %>
          <%= f.label :Email %>
        </div>
        <div class="form-label-group">
          <%= f.password_field :password, class: "form-control", autocomplete: "current-password" %>
          <%= f.label :Password %>
        </div>
        <%= f.submit "Log In", class: "btn btn-lg btn-primary btn-block" %>
       <% end %>
      </div>
      <div class="text-center">
        <%= link_to 'Guest（閲覧用）', customers_guest_sign_in_path, class: "btn btn-secondary  sign_in", method: :post %>
      </div>
      <div class="mt-5">
          <mark class="h6 bg-light">会員登録がお済みでない方</mark>
        <div>
          <br>
        </div>
      </div>
        <%= link_to "こちら", new_customer_registration_path %>  から新規登録を行ってください。
    </div>
  </div>
</div>





