<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/customers/info', customer: @item.customer %>
      <div id ="map"></div>
      <style>#map {height: 300px; width: 300px;}</style>
      <script>
        let map;
        function initMap() {
          geocoder = new google.maps.Geocoder()
          // console.log("gon:"+gon)
          map = new google.maps.Map(document.getElementById('map'), {
            // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
            center: {
              lat: gon.item.latitude,
              lng: gon.item.longitude
            },
            zoom: 12,
          });
      
          marker = new google.maps.Marker({
            // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
            position: {
              lat: gon.item.latitude,
              lng: gon.item.longitude
            },
            map: map
          });
        }
      </script>
      
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
      </script>
      <%= @item.address %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>投稿詳細</h2>
  		<table class='table'>
  		  <tr>
          <td>
            <a href="" id="a_image" target="_blank">
             <%= image_tag @item.image, size:"100x100", id:"image" %><br>
            </a>
          </td>
          <td><%= link_to @item.name, @item %></td>
          <td><%= @item.body %></td>
          <% if @item.customer == current_customer %>
            <td><%= link_to 'Edit', edit_item_path(@item), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
          <td id="favorite_buttons_<%= @item.id %>">
            <%= render "public/favorites/favorites", item: @item %>
          </td>
        </tr>
      </table>
      
      <div class='col-md-8 offset-md-1'>
        <h4>コメント</h4>
        <diV id="index">
          <%= render 'public/post_comments/post_comments', item: @item %>
        </diV>
         
      		<div>
        		<%= render 'public/post_comments/form', item: @item, post_comment: @post_comment %>
        	</div>
          <div class ="comment">
            <%= render 'public/post_comments/comment', item: @item  %>
          </div>
      </div>
      
- 



  
    </div>
  </div>
</div>

<script>
const image = document.getElementById("image")
document.getElementById("a_image").href = image.src

</script>