<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <%= render 'public/customers/info', customer: @item.customer %>
      <div><strong><%= @item.address %></strong></div>
      <div id ="map",class: "images mb-5 shadow-sm" ></div>
      <style>#map {height: 300px; width: 300px;}</style>
      <script>
        let map;
        function initMap() {
          geocoder = new google.maps.Geocoder()
          // console.log("gon:"+gon)
          map = new google.maps.Map(document.getElementById('map'), {
            // コントローラーで定義した変数から緯度経度を呼び出し、マップの中心に表示
            center: {
              lat: gon.item.latitude,
              lng: gon.item.longitude
            },
            zoom: 12,
          });
      
          marker = new google.maps.Marker({
            // コントローラーで定義した変数から緯度経度を呼び出し、マーカーを立てる
            position: {
              lat: gon.item.latitude,
              lng: gon.item.longitude
            },
            map: map
          });
        }
      </script>
      
      <script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API'] %>&callback=initMap">
      </script>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<table class='table mt-5' bgcolor="#ffffff">
  		  <thead>
          <tr>
            <th></th>
            <th>Name</th>
            <th>Opinion</th>
            <th>Tag</th>
            <th colspan="3"></th>
          </tr>
        </thead>
  		  <tr>
          <td>
            <a href="" id="a_image" target="_blank">
             <%= image_tag @item.image, size:"100x100", id:"image" %><br>
            </a>
          </td>
          <td><%= link_to @item.name, @item %></td>
          <td><%= @item.body %></td>
          <td>
            <% if @item.tags.blank? %>
              <span><i class="fas fa-tag"></i>none</span>
            <% else %>
              <span><i class="fas fa-tag"></i><%= @item.tags.first.name %></span>
            <% end %>
          </td>
          <% if @item.customer == current_customer %>
            <td><%= link_to 'Edit', edit_item_path(@item), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @item, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
          <td id="favorite_buttons_<%= @item.id %>">
            <%= render "public/favorites/favorites", item: @item %>
          </td>
        </tr>
      </table>
      
      <div class='col-md-8 offset-md-1'>
        <div class="row">
        <h4 class="mr-5 mt-5">---Comment---</h4>
        <div class ="comment">
          <%= render 'public/post_comments/comment', item: @item  %>
        </div>
        </div>
        <diV id="index">
          <%= render 'public/post_comments/post_comments', item: @item %>
        </diV>
        <div>
        	<%= render 'public/post_comments/form', item: @item, post_comment: @post_comment %>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
const image = document.getElementById("image")
document.getElementById("a_image").href = image.src
</script>