<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
       <% if customer_signed_in? %>
          <%= link_to root_path do %>
            <%= image_tag asset_path("logo.png"), size:"120x80" %>
          <% end %>
       <% elsif admin_signed_in? %>
          <%= link_to admin_homes_top_path do %>
            <%= image_tag asset_path("logo.png"), size:"120x80" %>
          <% end %>
       <% else %>
        <%= link_to root_path do %>
          <%= image_tag asset_path("logo.png"), size:"120x80" %>
        <% end %>
       <% end %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav ml-auto">
        <% if customer_signed_in? %>
          <a class="nav-link active" aria-current="page" href="/homes/about">About</a>
          <a class="nav-link" href="<%= customer_path(current_customer)%>">Mypage</a>
          <a class="nav-link" href="<%= search_path %>">Search</a>
          <a class="nav-link" href="<%= items_path %>">Items</a>
          <a><%= link_to "Log Out", destroy_customer_session_path, method: :delete, class: "btn btn-outline-primary" %></a>
        <% elsif admin_signed_in? %>
          <a class="nav-link" href="<%= admin_customers_path %>">Customers</a>
          <a class="nav-link" href="<%= admin_items_path %>">Items</a>
          <a><%= link_to "Log Out", destroy_admin_session_path, method: :delete, class: "btn btn-outline-primary" %></a>
        <% else %>
          <a class="nav-link active" aria-current="page" href="/homes/about">About</a>
          <a class="nav-link" href="<%= search_path %>">Search</a>
          <a class="nav-link" href="<%= items_path %>">Items</a>
          <a class="btn btn-outline-primary" href="/customers/sign_in">Log in</a>
        <% end %>
      </div>
    </div>
  </div>
</nav>

<style>
  body{
	background-color: #eee;
}
.nav-link {
    display: block;
    padding: .5rem 1rem;
    text-decoration: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
    color: #fff;
    margin-right: 10px;
    text-transform: uppercase;
    font-weight: 200 !important;
    font-size: 14px;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");


}



.navbar-nav .active{

	border-bottom: 4px solid #fff;
}

.logo{
	margin-bottom: 7px !important;	
}

.navbar {
   
    padding-top: .5rem;
     padding-bottom: 0px !important;
}
</style>